---
const { publications } = Astro.props;
---

<div>
    <h2 class="projects-title">Publications</h2>
    <div class="cv-entry">
        {publications.map(publication => (
            <div>
                <h2 class="company">{publication.name}</h2>
                <div>
                    <div class="header">
                        <ul class="description">
                            {publication.papers.map(paper => (
                                <li class="entry">
                                    <a href={paper.url} target="_blank"><p>{paper.name}</p></a>
                                    <p class="date">{paper.date}</p>
                                </li>
                            ))}
                        </ul>
                    </div>
                </div>
            </div>
        ))}
    </div>
</div>