---
import MoreInfoToggle from '../scripts/moreInfo.jsx';

const { companies } = Astro.props;
---

<div>
    <h2 class="projects-title">Work Experience</h2>
    <div class="cv-entry">
        {companies.map(company => (
            <div>
                <h2 class="company">{company.name}</h2>
                {company.positions.map(position => (
                    <div>
                        <MoreInfoToggle position={position} client:load/>
                    </div>
                ))}
            </div>
        ))}
    </div>
</div>